
/*--------------------------------------------------------------
# body
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
}

a {
  color: #000;
}

a:hover {
  color: #0099FF;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Sections title
--------------------------------------------------------------*/
section {
  padding: 40px 38px;
}

.section-bg {
  background-color: #dce8f8;
}
.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #0099ff;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #000;
  bottom: 0;
  left: 0;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;/*300*/
  z-index: 9999;
  padding: 0 15px;
  background: #000;
}

.main-menu .profile img {
  margin-top: 20px;
  width: 180px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  font-size: 20px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i, .nav-menu li:hover > a i {
  color: #0099ff;
}

/* Mobile Navigation */
.hamburger i{
  font-size: 40px;
  display: none;
  width: 50px;
  height: 40px;
  position: absolute;
  right: 19px;
  top: 20px;
  color: #0099ff;;
  border-radius: 3px;
  text-align: center;
  z-index: 1111;
  cursor: pointer;
}

@media(max-width: 767px){

  .main-menu{
    position: fixed;
    width: 200px; /*40%;*/
    left: 0px;
    top: 0px;
    display: none;
  }
  .main-menu.show{
    display: block;
  }
  .hamburger i{
    position: fixed;
    display: inline-block;
  }
}
/*--------------------------------------------------------------
div main
----------------------------------------------------------------*/
#main {
  margin-left: 200px;/*300*/
}

@media(max-width: 767px){
  #main {
    margin-left: 0px;
  }
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  /*background-image: url(../front/img/IMG_20200215_192905_9.jpg);*/
  background-size: cover;
}

#hero h1 {
  margin: 0 0 25px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 0px;
  font-size: 26px;
}


#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #0099ff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 40px;
    line-height: 36px;
  }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #0099ff;
}

/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}
.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #FFF;
}

.skills .progress-bar {
  height: 10px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #000;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #000;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0099ff;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #dce8f8;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}


.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #0099ff;
  border: 2px solid #0099ff;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item{
  padding: 8px;
}

.portfolio .portfolio-item .inner{
   position: relative;
}
.portfolio .portfolio-item img{
  height: 270px;
  width: 100%;
  display: block;
}
.portfolio .portfolio-item .overlay{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.portfolio .portfolio-item:hover .overlay{
  opacity: 1;
}
.portfolio .portfolio-item .overlay .icofont{
  background-color: #0099FF;
  height: 50px;
  width:50px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.portfolio .portfolio-item .overlay h4{
   color: #fff;
   margin-top: 15px;
   font-size: 25px;
   font-weight: 600;
}

.portfolio .portfolio-item .overlay h4 a{
  color: #fff;
}

/*lightbox*/

.lightbox{
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
@media(max-width: 1030px){
  .lightbox{
    position: fixed;
   left:200px;

}
}
@media(max-width: 767px){
  .lightbox{
   position: fixed;
  left:0;
  z-index: 100;
}
}

.lightbox.show{
   display: flex;
}
.lightbox.hide{
   display: none;
}
.lightbox .close-lightbox{
   height: 35px;
   width: 35px;
    color: #FFF;
    background-color: #0099ff;
    text-align: center;
    line-height:35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}
.lightbox .close-lightbox:hover{
    color: #0099ff;
    background-color: #fff;
}
@media(max-width: 767px){
  .lightbox .close-lightbox{
  right: 78px;
  top: 22px;
}
}

.lightbox img{
  max-width: 90%;
  max-height: 80%;
  display: block;
  z-index: 99999;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  padding-bottom: 90px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #0099ff;
  float: left;
  width: 44px;
  height: 44px;
  background: #dce8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #000;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #0099ff;
  color: #fff;
}
.contact form {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
 .alertmsg{
    color: #f00;
  }


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 20px;
  max-width: 100%;
  background: #0099ff;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  position: relative;
  z-index: 11;
}

#footer a{
  color: #000;
  font-weight: bolder;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  /*height: 36px;*/
}

#footer .social-links a:hover {
  background: #0099ff;
  color: #fff;
}
