
/*img size */

.sizeImg{
        height: 200px;
    }

.nav-link{
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

/* Mobile Navigation */
.hamburger i{
    font-size: 40px;
    display: none;
    width: 50px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    z-index: 1111;
    cursor: pointer
}
#sidebarMenu{
  position: fixed;
  width: 48%;
  height: auto;
  left: 0;
  bottom: 0;
  top: 55px;
}

@media(max-width: 767px){

  #sidebarMenu{
    position: fixed;
    width: 48%;
height: auto;
    left: 0;
    bottom: 0;
      top: 95px;
    display: none;
  }
  #sidebarMenu.show{
    display: block;
z-index: 9999;
  }
  .hamburger i{
    position: fixed;
    display: inline-block;
  }
}
/*--------*/
