
/*img size */

.sizeImg{
        height: 200px;
    }

.nav-link{
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
/* Mobile Navigation */
.navbar .hamburger i{
  font-size: 40px;
  display: none;
  width: 50px;
  height: 40px;
  position: absolute;
  right: 19px;
  top: 20px;
  color: #fff;;
  border-radius: 3px;
  text-align: center;
  z-index: 1111;
  cursor: pointer;
}

@media(max-width: 767px){

  .sidebarMenu{
    position: fixed;
    width: 40%;
    left: 0px;
    top: 0px;
    display: none;
  }
  .sidebarMenu.show{
    display: block;
  }
  .hamburger i{
    position: fixed;
    display: inline-block;
  }
}


.modal{
  position: fixed;
}
